<%- include("partials/header") %>
    <h1>campgdfsofkdsfsd</h1>
    <a href="/campgrounds/new">Add New Campgrounds</a>
    <% campgrounds.forEach(function(camp){ %>
        <div>
            <h4>
                <%= camp.name %>
            </h4>
            <img src="<%= camp.image %>" alt="">
        </div>
        <%});%>
            <%- include("partials/footer") %>